.root{
    -fx-background-color: grey;
}

.button {
    -fx-background-color:black;
    -fx-font-size:20;
    -fx-pref-width:125;
    -fx-pref-height:50;
    -fx-border-color:white;
    -fx-background-radius:0;
    -fx-font-family:"Lucida Console";
    -fx-text-fill:white;
    -fx-graphic-text-gap:25;
    -fx-content-display:top;
}

#enterNameLabel {
    -fx-font-family:"Lucida Console";
    -fx-font-size:45;
    -fx-text-fill:white;
    -fx-pref-width:500;
    -fx-pref-height:180;
    -fx-alignment:center;
}


.text-field{
    -fx-pref-width:520;
    -fx-pref-height:100;
    -fx-font-size:25;
    -fx-text-fill:white;
    -fx-font-family:"Lucida Console";
    -fx-background-color:black;
    -fx-alignment:center;
}

.text-field .text {
    -fx-text-alignment: center;
}

#nextButton {
    -fx-background-color:black;
    -fx-font-size:20;
    -fx-pref-width:200;
    -fx-pref-height:50;
    -fx-border-color:white;
    -fx-background-radius:0;
    -fx-font-family:"Lucida Console";
    -fx-text-fill:white;

}